

header{
	background: #BBBBBB;
	padding: 20px;
}
.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;

}
nav{ 
	position: absolute;
	top:115px;
	right:0px; 
}
nav li{
	display: inline;
	margin: 0 0 0 15px;

}

nav a{
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
	font-size: 22px;
	text-decoration: none;
}
nav a:hover{
	color: #C785FA;
	text-decoration: underline;
}
.produtos{
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}
.produtos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover{
	border: 3px solid #C785FA;
}

.produtos li:active{
	border-color: #088C19;
}

.produtos li:hover h2{
	font-size: 35px;
}
.produtos h2{
	font-size: 30px;
	font-weight: bold;
}
.descricao{
	font-size: 18px;
}
.preco {
	font-size: 25px;
	font-weight: bold;
	padding-top: 10px;
}

footer{
	text-align: center;
	background: url("bg.jpg");
	padding: 30px 0;
}

.copy{
	font-size: 13px;
	color: #FFFFFF;
	margin-top: 10px;
}
main{
	width:  940px;
	margin: auto;
}
form{
	margin: 40px;
}

form label, legend{
	display:block;
	font-size: 20px;
	margin: 10px;
}
.input-padrao{
	display:block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.check{
        padding: 20px 0;
}

.enviar{
        width: 40%;
        padding: 15px;
        background:orange;
        color: white;
        font-weight: bold;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        transition: 1s all;
        cursor: pointer;
}

.enviar:hover{
        background: darkorange;
        transform: scale(1.2);
}

table{
        margin: 20px 40px;

}

thead{
        background-color: #555555;
        font-weight: bold;
        color: white;
}
td, th{
        border: 1px solid black;
        padding: 8px 20px;
}